<a href="https://colab.research.google.com/github/vitormiro/estatistica_ppger_ufc/blob/main/python_fundamentos_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Listas permitem armazenar conjuntos de informações em um só lugar.

Uma lista é uma coleção de itens em uma **ordem** particular. No Python, colchetes ([ ]) indicam uma lista, e elementos individuais são separados por vírgulas.

Sobre listas na [documentação do Python](https://docs.python.org/pt-br/3/tutorial/introduction.html#lists).

Vamos criar uma primeira lista com nomes.

In [ ]:
nomes = ['João', 'Maria', 'José', 'Lara']

In [ ]:
print(nomes)

['João', 'Maria', 'José', 'Lara']

In [ ]:
heroes = ['Superman', 'Batman', 'Mulher Maravilha', 'Flash', 'Cyborg', 'Lanterna Verde']
print(heroes)

['Superman', 'Batman', 'Mulher Maravilha', 'Flash', 'Cyborg', 'Lanterna Verde']

In [ ]:
numeros = [1, 2, 3, 4, 5]
print(numeros)

[1, 2, 3, 4, 5]

## Acessando elementos de uma lista
Listas são coleções ordenadas, portanto você pode acessar qualquer elemento de uma lista informando a posição - ou o indice - 
do item desejado.
Deve-se estar atento, a primeira posição em uma lista tem índice zero e não um.

In [ ]:
print(heroes[1])
print(heroes[0])

Batman
Superman

Ao solicitar o índice -1, o Python sempre devolve o último item da lista; o índice -2, o penúltimo, e assim por diante.

In [ ]:
print(nomes[-1])
print(nomes[-2])
print(nomes[-3])

Lara
José
Maria

### Utilizando os elementos da lista.
Podemos utilizar os elementos de uma lista assim como fariamos como qualquer outra variável.

In [ ]:
mensagem_1 = nomes[0] + " é o chefe da família."
print (mensagem_1)

João é o chefe da família.

In [ ]:
mensagem_2 = "O casal " + nomes[0] + " e " + nomes[1] + " possuem dois filhos: " + nomes[2] + " e " + nomes[3] + "."
print(mensagem_2)

O casal João e Maria possuem dois filhos: José e Lara.

# Trabalhando com listas: utilizando laços (for)

Em algumas situações é comum que uma mesma instrução (ou conjunto delas) precise ser executada várias vezes seguidas. Nesses casos, normalmente utilizamos um loop (ou laço de repetição) que permite executar o mesmo bloco de código enquanto uma condição é atendida. Em Python, os loops são codificados com as estruturas de repetição `for` e `while`.

O laço for nos permite percorrer os itens de uma coleção e, para cada um deles, executar o bloco de código declarado no loop.

Uma lista com capitais da região Nordeste:

In [ ]:
capitais_ne = ['salvador', 'aracaju', 'maceio', 'recife', 'joao pessoa', 'natal', 'fortaleza', 'teresina', 'sao luiz']

In [ ]:
for capital in capitais_ne:
    capital = capital + '-NE'
    print(capital)

salvador-NE
aracaju-NE
maceio-NE
recife-NE
joao pessoa-NE
natal-NE
fortaleza-NE
teresina-NE
sao luiz-NE

In [ ]:
for hero in heroes:
  hero1 = hero + "/DC"
  print(hero1)

Superman/DC
Batman/DC
Mulher Maravilha/DC
Flash/DC
Cyborg/DC
Lanterna Verde/DC

Vamos usar o método `title()`

In [ ]:
for capital in capitais_ne:
    print(capital.title())

Salvador
Aracaju
Maceio
Recife
Joao Pessoa
Natal
Fortaleza
Teresina
Sao Luiz

### Criando uma lista numérica.

Vamos criar uma lista numérica usando as funções `list()` e `range()`

A função `range()` retorna uma série numérica de acordo com os seguintes argumentos declarados na função:
- *start* - início da sequência
- *stop* - último elemento da sequência
- *step* - intervalo entre os elementos

In [ ]:
# start = 1, stop = 11 , step = 2
x = list(range(1,11,2))
print(x)

[1, 3, 5, 7, 9]

Podemos usar a função `range()` em um loop `for`

In [ ]:
for valor in range(1,11):
    print (valor)

1
2
3
4
5
6
7
8
9
10

Vamos criar uma lista numérica usando as funções `list()` e `range()`

In [ ]:
valores = list(range(1,11,1))
print(valores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
valores_pares = list(range(2,11,2))
print (valores_pares)

[2, 4, 6, 8, 10]

Vamos criar uma lista com os quadrados dos valores da lista valores.

In [ ]:
for valor in valores:
    valor_quad = valor**2
    print(valor_quad)

1
4
9
16
25
36
49
64
81
100

In [ ]:
type(valor_quad)

int

In [ ]:
# Outro exemplo de lista
amostra = [1000, 1200, 850, 1500, 1800, 300]

Podemos alterar um valor da lista.

In [ ]:
amostra[2] = 900
print(amostra)

[1000, 1200, 900, 1500, 1800, 300]

Aplicar operações sobre os valores de uma lista numérica

In [ ]:
for salario in amostra:
  salario_corrigido = salario * 1.1
  print(salario_corrigido)

1100.0
1320.0
990.0000000000001
1650.0000000000002
1980.0000000000002
330.0

Vamos calcular uma média dos salários da lista amostra.

Para isso vamos usar as funções `sum()` e `len()`. 

A função `sum()` realiza a soma dos elementos da lista.

A função `len()` retorna a quantidade de elementos da lista.

In [ ]:
# Função sum() faz a soma dos elementos da lista.
soma = sum(amostra)
print("soma = ", soma)

# Função len() retorna a quantidade de elementos da lista.
n = len(amostra)
print("tamanho da amostra = ", n)

soma =  6700
tamanho da amostra =  6

In [ ]:
# Calculando a média
media_amostra = soma/n
print("Média = ", media_amostra)

Média =  1116.6666666666667

Vamos criar uma lista com os primeiros quadrados perfeitos.

Para isso, vamos utilizar o método `append()`.

O método `append()` adiciona itens na lista.

In [ ]:
# Cria uma lista vazia
quadrados = []
# Usa um loop for para elevar ao quadrado cada elemento de uma lista
for value in range (1,11):
    quadrado = value**2
    quadrados.append(quadrado)
    
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# vamos verificar o tipo de informação é 'quadrados'
type(quadrados)

list

Existem formas de escrever o mesmo código de uma forma mais enxuta, em menos linhas:

In [ ]:
quadrados = []
for value in range (1,11):
    quadrados.append(value**2)
    
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List comprehensions

Uma _list comprehension_ (abrangência de lista) permite uma sintaxe compacta para gerar uma lista com apenas uma linha de código.
Uma _list comprehension_ combina o laço `for` e a criação de novos elementos em uma linha, e concatena cada novo elemento automaticamente.

In [ ]:
quadrados = [value**2 for value in range(1,11)]
print (quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
print(amostra)
salario_corrigido2 = [salario*1.05 for salario in amostra]
print(salario_corrigido2)

[1000, 1200, 850, 1500, 1800, 300]
[1050.0, 1260.0, 892.5, 1575.0, 1890.0, 315.0]

### "Fatiamento" (_slicing_) de uma lista

Permite selecionar e trabalhar com partes de uma lista.
A instrução apresenta um modelo _start:stop_ em um operador de indexação []. O elemento no índice _start_ é incluído no resultado, o elemento do índice _stop_ não.

In [ ]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(seq)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
seq[2:4]

[3, 4]

In [ ]:
seq[:5]

[1, 2, 3, 4, 5]

In [ ]:
seq[6:]

[7, 8, 9, 10]

## Tuplas

As listas permitem criar um conjunto de itens que podem ser modificados posteriormente no programa. No entanto, às vezes, queremos um conjunto de itens que não poderá ser alterado. As tuplas são um tipo de lista imutável.

A forma mais fácil de criar uma tupla é com uma sequência de valores separados por vírgula. Em expressões mais complicadas podemos definir a sequência da tupla entre parênteses `( )`.

In [ ]:
tupla1 = 1, 3, 5, 7
print(tupla1)

(1, 3, 5, 7)

In [ ]:
valores_fixos = (10, 20, 30, 40, 50, 60, 70)
print(valores_fixos)
print (valores_fixos[0])
print (valores_fixos[2])

(10, 20, 30, 40, 50, 60, 70)
10
30

Vamos tentar alterar o valor da posição 2.

In [ ]:
valores_fixos[2] = 35

TypeError: ignored

### Percorrendo valores de um tupla com um laço
Podemos usar o laço `for` em uma tupla.

In [ ]:
for fixo in valores_fixos:
    print(fixo - 10)

0
10
20
30
40
50
60

Uma tupla de tuplas

In [ ]:
tupla_dupla = ((40, 37, 5), (23, 27, 2))
print(tupla_dupla)

((40, 37, 5), (23, 27, 2))

Podemos converter qualquer sequência ou iterador em uma tupla chamando `tuple`:

In [ ]:
tuple(seq)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Veja o que acontece quando usamos tuple em uma string
tupla_ufc = tuple('UFC')
print(tupla_ufc)

('U', 'F', 'C')

# Dicionários (dicts)

São estruturas de dados que consistem de coleções de pares _chave:valor_, em que que _chave_ e _valor_ são objetos do Python. Possuem tamanho flexível, e são criados usando chaves `{ }` e dois-pontos para separar as chaves e valores.

O _valor_ de uma _chave_ pode ser um número, uma _string_, uma lista, ou até mesmo outro dicionário.

In [ ]:
dados = {'pedro': 2100, 'lucas': 3200, 'joao': 2800, 'paulo': 2700}
print(dados)

{'pedro': 2100, 'lucas': 3200, 'joao': 2800, 'paulo': 2700}

Para obter uma valor associado a uma chave, especifique o nome do dicionário e coloque a chave entre colchetes.

In [ ]:
dados['pedro']

2100

Para adicionar um novo par _chave:valor_

In [ ]:
dados['marcos']=2400

In [ ]:
print(dados)

{'pedro': 2100, 'lucas': 3200, 'joao': 2800, 'paulo': 2700, 'marcos': 2400}

Para alterar um valor

In [ ]:
dados['marcos']=2450
print(dados)

{'pedro': 2100, 'lucas': 3200, 'joao': 2800, 'paulo': 2700, 'marcos': 2450}

Podemos remover um par _chave:valor_ usando a instrução `del`

In [ ]:
del dados['marcos']
print(dados)

{'pedro': 2100, 'lucas': 3200, 'joao': 2800, 'paulo': 2700}

Percorrendo valores em um dicionário com um laço `for`

In [ ]:
for key, value in dados.items():
  print(key)
  print(value)

pedro
2100
lucas
3200
joao
2800
paulo
2700

# Sets (conjuntos)

_Sets_ são estruturas de dados não ordenadas, de elementos únicos. São como os dicionáros, mas somente com as _chaves_, sem os _valores_.

In [ ]:
A = {1, 2, 3, 4, 5, 7, 9}

B = {2, 4, 6, 8, 10}

In [ ]:
# União
AuB = A.union(B)
print(AuB)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# Interseção
AiB = A.intersection(B) 
print(AiB)

{2, 4}

In [ ]:
# Diferença
AdB = A.difference(B)
print(AdB)

{1, 3, 5, 7, 9}